@page
@model LanguageCourses.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Добавить";
}

<h1>Создать</h1>

<h4>Студент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.Surname" class="control-label"></label>
                <input asp-for="Student.Surname" class="form-control" />
                <span asp-validation-for="Student.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.BirthDate" class="control-label"></label>
                <input asp-for="Student.BirthDate" class="form-control" />
                <span asp-validation-for="Student.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Level" class="control-label"></label>
                <input asp-for="Student.Level" class="form-control" />
                <span asp-validation-for="Student.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Hobby" class="control-label"></label>
                <input asp-for="Student.Hobby" class="form-control" />
                <span asp-validation-for="Student.Hobby" class="text-danger"></span>
            </div>
             <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                foreach(var course in Model.AssignedCourseDataList)
                                {
                                    @:</tr><tr>
                                    @:<td>
                                        <input type ="checkbox"
                                               name ="selectedCourses"
                                               value="@course.CourseID"
                                               @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                                               @course.CourseID @: @course.Title
                                    @:</td>
                                }
                        @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
