@page
@model LanguageCourses.Pages.Languages.EditModel

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактирование</h1>

<h4>Язык</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Language.LanguageID" />
            <div class="form-group">
                <label asp-for="Language.Title" class="control-label"></label>
                <input asp-for="Language.Title" class="form-control" />
                <span asp-validation-for="Language.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language.Complexity" class="control-label"></label>
                <input asp-for="Language.Complexity" class="form-control" />
                <span asp-validation-for="Language.Complexity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
